<nav class="nav justify-content-center mt-5">
    <a class="nav-link" href="/">Products</a>
    <a class="nav-link" href="/category">Categorys</a>
    <a class="nav-link" href="/productCreate">Creation d'un produit</a>
    <a class="nav-link" href="#">User</a>
</nav>